################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlexObject
/FlexObject/bin/Debug
/FlexObject/obj
/FlexObject.Tests/bin/Debug
/FlexObject.Tests/obj/Debug
/packages
/tests/FlexObject.Tests/bin/Debug/net7.0
/tests/FlexObject.Tests/obj
/TestResults
/.vs/ProjectEvaluation
